<style>
  *{
    font-family: Roboto;
  }
</style>
<div data-spy="scroll" data-target="#navbarSupportedContent" data-offset="100" >
  <div  class="preloader" *ngIf="isload">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
  <nav class="navbar navbar-expand-lg bg-light navbar-light mb-5 fixed-top" id="">
    <div class="container">
      <div class="logo-image">
        <a ><img src="/assets/img/dd.png" alt="img"  ></a>
      </div>
      <div class="navbar-right nav">
        <div class="nav-header">
          <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav nav-con">
            <li class="menu  res-top-pad10 res2-top-pad10">
              <a class="nav-link nav-text" href="#home">ACCUEIL</a>
            </li>
            <li class="menu">
              <a class="nav-link nav-text" href="#service">DON DE SANG</a>
            </li>

            <li class="menu">
              <a class="nav-link nav-text" href="#schedule">PRINCIPES</a>
            </li>
            <li class="menu">
              <a class="nav-link nav-text" href="#camps">CAMPAGNES</a>
            </li>
            <li class="menu">
              <a class="nav-link nav-text " href="#contact">CONTACT</a>
            </li>
           </ul>
        </div>
      </div>
    </div>
  </nav>

  <header class=" header-bg-image bgimage-property section-padding" id="home">
    <div class="container ">
      <div class="col-sm-12 col-lg-10 text-center no-pad-res">
        <div class="container-fluid">
          <div class="row rowsafari">
            <div class= "col-sm-12 col-md-5 col-lg-5 header-sub-img bgimage-property sub-img-bor">
            </div>
            <div class="col-sm-12 col-lg-7 col-md-7 box-1-head">
              <h1>FAITES LE DON DE LA VIE</h1>
              <p class="marg-top20 res2-marg-top30 head-sub-con">DONNEZ VOTRE SANG</p>
              <img src="/assets/img/80x80x1.png" alt="img" class="rounded-circle marg-top15" >
              <div class="head-inner-box marg-top20">
                <p class="text-light text-justify">Faire un don du sang à l'hôpital ou dans un centre de collecte itinérant a un seul et unique objectif : sauver des vies. Cela concerne : Les malades qui attendent une transfusion sur leur lit d'hôpital. Les personnes blessées (accidents de la route, conflits armés, accidents domestiques, attentats…)</p>
              </div>
              <div class="pad-top30">
                <p style="font-size: 14px;"><b>LE DON DU SANG, UN ACTE HAUTEMENT CHARITABLE</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="section-padding section-2-bg bgimage-property" id="service">
      <div class="container">
        <div class=" text-center">
          <h2 class="pad-bot10" style="color: rgb(42, 87, 154);">DON DES PRODUITS SANGUINS</h2>
          <img src="/assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
        </div>
        <div class="row rowsafari">
          <div class="col-sm-12 col-md-4 col-lg-4 res2-bot-pad res2-center">
            <div>
              <img src="/assets/img/750x500x2.jpg" alt="img" class="img-radius img-fluid">
            </div>
            <div>
              <h4 class="pad-top20" >TYPES DE DON</h4>
              <p class="pad-top15 res2-top-pad10 res-top-pad10 text-justify">Il existe différents types de don :
                <i>Le don de sang total, le don par aphérèse, le don de plasma et le don de plaquettes.</i> <br>
                  Le don de sang dit <b>total </b>est le don le plus...
              <p>
                <div class="collapse text-justify" id="collapseExample">courant. Après le prélèvement, lesprincipaux composants sanguins (plaquettes, plasma et globules rouges)  sont séparés en laboratoire.
                  Il dure 8 à 10 minutes. <br>Le don en <b>aphérèse</b> est le don de plasma, de plaquettes, de granulocytes ou de globules rouges. Au cours de ce don, le sang est prélevé et séparé
                  en ses différents composants. Seuls les composants dont les malades ont besoin sont col­lectés, les autres sont restitués au donneur.
                  La durée d’un don en aphérèse varie de 30 à 90 minutes. <br> Le don de <b>plasma</b> permettent aux personnes aux prises avec des maladies graves de recouvrer la santé et sauvent des vies!
                  Il est possible de donner le plasma tous les six jours. Les plaquettes peuvent être obtenues de deux façons

                    Par don de sang total qui contient une petite quantité de plaquettes. Après le don, celles-ci sont séparées en laboratoire par centrifugation.
                    Par don de plaquettes par aphérèse au cours duquel les plaquettes sont séparées pendant le don, à l'aide d'un appareil branché directement au bras du donneur. L'appareil sépare les plaquettes du sang total et retourne les autres composants au donneur.

                </div>

                <div class="pad-top10 res2-bot-pad30">
                  <a class="txt-theme-color" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><span id="sp1">LIRE PLUS</span><i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4 res2-bot-pad res2-center">
            <div>
              <img src="/assets/img/750x500x3.jpg" alt="img" class="img-radius img-fluid">
            </div>
            <div>
              <h4 class="pad-top20">CRITERES DE QUALIFICATION</h4>
              <p class="pad-top15 res2-top-pad10 res-top-pad10 text-justify">Les conditions liminaires pour donner du sang, est qu'il faut avoir au moins 18 ans et pas plus de 65 ans et d'être bien portant...<p>
              <div class="collapse text-justify" id="collapseExample1">ll ne peut-être prélevé de sang chez les personnes ayant atteint soixante ans et n'ayant
                jamais donné de sang auparavant. L'examen clinique du donneur doit être complet. Il comporte notamment I'appréciation de
                l'état général, la mesure de la tension artérielle et de la masse corporelle ainsi que l'examen
                des conjonctives. Toute hypotension ou hypertension constitue une contre-indication au don
                de sang. Un taux d'hémoglobine inférieur ou égal à 10 g/dl pour la femme et inférieur ou égal
                à 11ÿdl pour I'homme constitue une contre-indication au don.Les donneurs présentant un problème hématologique seront écârtés du don de sang
                temporairement ou définitivement selon le cas

                </div>

                <div class="pad-top10 res2-bot-pad30">
                  <a class="txt-theme-color" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"><span id="sp2">LIRE PLUS</span><i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4 res2-bot-pad res2-center">
            <div>
              <img src="/assets/img/img2.jpg" alt="img" class="img-radius img-fluid">
            </div>
            <div>
              <h4 class="pad-top20">ETAPES DU DON DE SANG</h4>
              <p class="pad-top15 res2-top-pad10 res-top-pad10 text-justify">Les étapes de la collecte du don restent identiques quel que soit le lieu : site
                fixe, école, salle des fêtes… et le type de don.
                Le don de sang se déroule toujours en 4 étapes :...<p>
              <div class="collapse text-justify" id="collapseExample2"> 1 - L'inscription administrative
                Le candidat au don est accueilli par une secrétaire  qui
                enregistre son dossier administratif et lui remet le questionnaire pré-don
                afin de préparer l’entretien médical. <br>
                2 - L'entretien médical
                Le candidat au don est reçu par un médecin pour un entretien
                confidentiel et un examen médical. Cet entretien est destiné à vérifier
                l’aptitude du candidat et à s’assurer que le don ne présente pas de risque,
                pour le donneur comme pour le receveur. L’entretien médical est ainsi une
                étape clé de la sécurité de la chaîne transfusionnelle.
                3 - Le prélèvement
                Le prélèvement est effectué par une infirmière diplômée d’État. Des tubes
                échantillons, à partir desquels seront réalisés les analyses de qualification, sont d’abord prélevés.
                Le prélèvement dure environ 10 minutes (pour un don de sang total) et le
                volume prélevé est environ 500 ml. Le don de plasma et le don de
                plaquettes durent plus longtemps.
                4 - Letemps du repos et de la collation
                Le volume de sang prélevé se reconstitue rapidement mais il est très
                important de boire et de manger après avoir donné son sang. C’est
                pourquoi il y a proposition systématiquement d'une collation à l’issue du
                prélèvement. Il est aussi conseillé de ne pas pratiquer d’efforts dans les
                heures qui suivent un don du sang.
                </div>

                <div class="pad-top10 res2-bot-pad30">
                  <a class="txt-theme-color" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample"><span id="sp3">LIRE PLUS</span><i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-padding section-1-bg bgimage-property" id="schedule">
      <div class="container">
        <div class="text-center">
          <h2 class="pad-bot10" style="color: rgb(42, 87, 154);">LES PRINCIPES ETHIQUES</h2>
          <img src="/assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
        </div>
        <div class="row rowsafari">
          <div class="col-md-5 col-lg-5 marg-top20 no-res-marg no-marg-res20">
            <div class="scdle-bor text-center width-res">
              <h4 style="text-transform: uppercase;">Le bénévolat</h4>
              <p  class="pad-top10"><i class="lt-space">Se porter volontaire </i></p>
            </div>
          </div>
          <div class="col-md-2 col-lg-2 text-1-center cen-img-pad img-res-pad res2-bot-pad20">
            <img src="/assets/img/40x150.png" alt="icon" >
          </div>
          <div class="col-md-5 col-lg-5 res2-cen">
            <h4 class="res2-top-pad20">VOTRE GENEROSITE SAUVE DES VIES</h4>
            <p class=" pad-top15 res2-top-pad10 text-justify">Consacrez un peu de votre temps pour contribuer aux activés liées au dons de sang. Vous pouvez vous impliquer à votre rythme, de façon ponctuelle et régulière. Aucune pression d'aucune sorte ne doit être exercée sur vous.
          </div>
        </div>

        <div class="row rowsafari marg-top30">
          <div class="col-md-5 col-lg-5 marg-top20 no-res-marg no-marg-res20">
            <div class="scdle-bor text-center width-res">
              <h4 style="text-transform: uppercase;">L'anonymat</h4>
              <p  class="pad-top10"><i class="lt-space">L'identité du donneur reste cacher </i></p>
            </div>
          </div>
          <div class="col-md-2 col-lg-2 text-1-center cen-img-pad img-res-pad res2-bot-pad20">
            <img src="/assets/img/40x150.png" alt="icon" >
          </div>
          <div class="col-md-5 col-lg-5 res2-cen">
            <h4 class="res2-top-pad20">VOTRE IDENTITE RESTE CACHEE</h4>
            <p class=" pad-top15 res2-top-pad10 text-justify">Le receveur ne peut connaitre I'identité du donneur, ni le	donneur celle du receveur. Il ne peut-être dérogé à ce principe d'anonymat qu'en cas de nécessité thérapeutique (groupe rare, immunisation complexe.</p>
          </div>
        </div>
        <div class="row rowsafari marg-top30">
          <div class="col-md-5 col-lg-5 marg-top20 no-res-marg no-marg-res20">
            <div class="scdle-bor text-center width-res">
              <h4 style="text-transform: uppercase;">L'absence de profit</h4>
              <p  class="pad-top10"><i class="lt-space">Donner sans intérêt</i></p>
            </div>
          </div>
          <div class="col-md-2 col-lg-2 text-1-center cen-img-pad img-res-pad res2-bot-pad20">
            <img src="/assets/img/40x150.png" alt="icon" >
          </div>
          <div class="col-md-5 col-lg-5 res2-cen">
            <h4 class="res2-top-pad20">FAITES DU BIEN SANS INTERET</h4>
            <p class=" pad-top15 res2-top-pad10 text-justify">Le profit financier ne doit jamais être une motivation ni pour le donneur, ni pour les
              responsables du prélèvement.
          </div>
        </div>

      </div>
    </div>
  </section>

    <div class="section-padding section-2-bg bgimage-property">
      <div class="container">
        <div class="text-center">

          <h2 class="pad-bot10" style="color: rgb(42, 87, 154);">POURQUOI DONNER SON SANG ?</h2>
          <img src="/assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
        </div>
        <div class="row rowsafari">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="space-1-wid">
              <img src="/assets/img/img1.jpg" alt="750x450" class="img-fluid img-radius">
            </div>
          </div>
          <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="space-wid">
              <p class="guest-font res2-top-pad20"><a >IMPORTANCE DU SANG</a> </p>
              <p class="marg-top5 desination-font"> Pourquoi dois-je donnez</p>
              <p class="marg-top10 text-justify">En décidant de donner votre sang, vous pouvez sauver une vie, voire plusieurs si le sang est séparé en ses constituants – hématies, plaquettes et plasma – qui peuvent être utilisés séparément pour des patients présentant des affections particulières.On a constamment besoin d’un approvisionnement régulier en sang parce que ce dernier ne se conserve que pendant une durée limitée avant utilisation. Des dons de sang réguliers par un nombre suffisant de personnes en bonne santé sont nécessaires pour que l’on puisse disposer de sang sécurisé partout et à tout moment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <section>
    <div class="cta-bg-img bgimage-property">
      <div class="container res-cen">

          <div>
            <h4 class="txt-whte marg-top5 m" style="text-align: center;">"Le don du sang, un acte hautement charitable."</h4>


          </div>


      </div>
    </div>

  </section>



  <section>
    <div class="section-padding section-1-bg bgimage-property">
      <div class="container">
        <div class="row rowsafari">
          <div class="col-sm-12 col-md-7 col-lg-7 order-lg-1 order-2">
            <div class="space-1-wid res2-top-pad20">
              <h4>QUEL EST L'AVANTAGE DU DONNEUR ?</h4>
              <p class="marg-top15 res2-top-marg10 text-justify">Donner son sang peut réduire aussi le risque de développer certains cancers. En effet, le don contribue à réduire les réserves de fer (c'est pourquoi les anémiques ne peuvent pas donner) et réduit ainsi la quantité de dommages causés par les radicaux libres dans le corps.<br>Les analyses réalisées pour qualifier les produits sanguins labiles réalisées, associées à l'entretien pré-don (prise de la tension), apportent...</p>

              <div class="collapse text-justify" id="collapseExample4">
                <p>un suivi de l'état de santé des donneurs, notamment chez les donneurs de sang réguliers.Selon une étude de l'American Journal of Epodemiology, la réalisation d'un don de sang, au moins une fois par an, pourrait réduire de 88% le risque de crise cardiaque. L'étude explique qu'un taux élevé de fer dans le sang peut provoquer une constriction des vaisseaux sanguins et augmenter le risque de crise cardiaque.<br>

                réduction des stocks de fer dans l'organisme aurait également d'autres avantages. Elle permettrait de réduire le risque de développer un cancer et d'aider le foie à rester en bonne santé. Bien que de nombreux autres facteurs soient impliqués dans les problèmes liés au foie, le don de sang peut aider à y éviter des problèmes supplémentaires.<br>

                  Les donneurs de sang réalisent des dons car cela leur apporte un bien-être du fait de cet acte généreux. Mais vous constatez qu'il existe d'autres avantages pour votre santé. Alors, n'hésitez plus : donnez votre sang.</p>

              </div>

              <div class="pad-top10 res2-bot-pad30">
                <a class="txt-theme-color" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample"><span id="sp4">LIRE PLUS</span><i class="fa fa-arrow-circle-right btn-icon" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-5 col-lg-5 order-lg-2 order-1">
            <div class="space-wid">
              <img src="/assets/img/750x450x2.jpg" alt="750x450" class="img-fluid img-radius">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <ng-template #nodata>
      <div class="text-center">
        <h2 class="pad-bot10" style="color: rgb(42, 87, 154);">CAMPAGNES DE DON DE SANG</h2>
        <img src="/assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
      </div>
      <h1 style="text-align: center;">Aucune Campagne Lancée</h1><br><br>
    </ng-template>
    <div *ngIf="Campfix?.length>0; else nodata">
    <div class="section-padding section-2-bg bgimage-property" id="camps">
      <div class="container">
        <div class="text-center">
          <h2 class="pad-bot10" style="color: rgb(42, 87, 154);">CAMPAGNES DE DON DE SANG</h2>
          <img src="/assets/img/150x25.png" alt="icon" class="marg-bot40 res2-marg-bot30">
        </div>

        <div class="row rowsafari">

          <div class="col-sm-12 col-md-6 col-lg-6  res2-bot-pad30" *ngFor="let item of Campfix; index as i">
            <div class="camp-bor space-1-wid width-res">
              <div >
                <div class="dis-tab-cell">
                  <img src="/assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                </div>
                <div class="dis-tab-cell-middle">
                  <h4 class="lt-space"> Campagne {{i+1}}</h4>
                </div>
              </div>
              <div class="marg-top15 res2-top-marg10 camp-left-con">
                <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">{{item.Datecapm | date}}</span></p>
                <p class="pad-bot10"><span class="camp-font camp-width">Heure</span><span class="colon">:</span><span class="lt-space lttr-pad">{{item.heure_dep}} à {{item.heure_fin}}.</span></p>

                <p ><span class="camp-font dis-tab-cell camp-width">Description</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> {{item.Description}}</span></p>

                <p class="pad-bot10"><span class="camp-font camp-width">Lieu</span><span class="colon">:</span><span class="lt-space lttr-pad">{{item.Lieucamp}}</span></p>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-12 col-md-6 col-lg-6 ">
            <div class="camp-bor space-wid width-res">
              <div >
                <div class="dis-tab-cell">
                  <img src="/assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                </div>
                <div class="dis-tab-cell-middle">
                  <h4 class="lt-space">BLOOD DONATION CAMPS</h4>
                </div>
              </div>
              <div class="marg-top15 camp-left-con res2-top-marg10">
                <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">Oct 13, 2019</span></p>
                <p class="pad-bot10"><span class="camp-font camp-width">Time</span><span class="colon">:</span><span class="lt-space lttr-pad">Starts @ 5PM</span></p>

                <p ><span class="camp-font dis-tab-cell camp-width">Venue</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> No AB-267,<br> Park Avenue 76 Second Street,<br>New York - 26781</span></p>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <div class="row rowsafari marg-top30">

          <div class="col-sm-12 col-md-6 col-lg-6  res2-bot-pad30">
            <div class="space-1-wid camp-bor width-res">
              <div >
                <div class="dis-tab-cell">
                  <img src="/assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                </div>
                <div class="dis-tab-cell-middle">
                  <h4 class="lt-space">BLOOD DONATION CAMPS</h4>
                </div>
              </div>
              <div class="marg-top15 camp-left-con res2-top-marg10">
                <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">Sep 13, 2019</span></p>
                <p class="pad-bot10"><span class="camp-font camp-width">Time</span><span class="colon">:</span><span class="lt-space lttr-pad">Starts @ 5PM</span></p>

                <p ><span class="camp-font dis-tab-cell camp-width">Venue</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> No AB-267,<br> Park Avenue 76 Second Street,<br>New York - 26781</span></p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="space-wid camp-bor width-res res2-top-marg10">
              <div >
                <div class="dis-tab-cell">
                  <img src="/assets/img/48x48x1.png" alt="icon" class="icon-rght1 rounded-circle icon-res-rgt">
                </div>
                <div class="dis-tab-cell-middle">
                  <h4 class="lt-space">BLOOD DONATION CAMPS</h4>
                </div>
              </div>
              <div class="marg-top15 camp-left-con">
                <p class="pad-bot10"><span class="camp-font camp-width">Date</span><span class="colon">:</span><span class="lt-space lttr-pad">Nov 13, 2019</span></p>
                <p class="pad-bot10"><span class="camp-font camp-width">Time</span><span class="colon">:</span><span class="lt-space lttr-pad">Starts @ 5PM</span></p>

                <p ><span class="camp-font dis-tab-cell camp-width">Venue</span><span class="colon">:</span><span class="lt-space dis-tab-cell-top lttr-pad"> No AB-267,<br> Park Avenue 76 Second Street,<br>New York - 26781</span></p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  </section>


  <section>
    <div class="cta-bg-2 bgimage-property">
      <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-8 text-center no-pad-res">
          <div class="cta-bor">
            <h2 class="txt-whte-sub">DONNER UN PEU DE VOTRE SANG </h2>
            <p class="text-light text-center">Pour sauver des vies</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="footer-bg-clr bgimage-property" id="contact">
      <div class="container">
        <div class="row rowsafari foot-res-width">
          <div class="col-sm-6 col-sm-6 col-md-6 col-lg-4 res2-bot-pad res-bot-pad30">
            <a ><img src="/assets/img/dd.png" alt="img" class="img-radius marg-bot20 " ></a>
            <div class="res2-bot-pad30">
              <p class="txt-whte-sub">Lorem Ipsum sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos.</p>
              <div class="marg-top20">
                <a class="icon-rght1" ><img src="/assets/img/32x32x4.png" alt="img" class="img-radius"></a>
                <a class="icon-rght1" ><img src="/assets/img/32x32x5.png" alt="img" class="img-radius"></a>
                <a ><img src="/assets/img/32x32x6.png" alt="img" class="img-radius"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 res-bot-pad30">
            <h5 class="txt-whte">CONTACT US</h5>
            <div class="ft-bg-color">
              <div class="dis-tab marg-top20">
                <div class="dis-tab-cell icon-width">
                  <i class="fa fa-map-marker footer-font-size" aria-hidden="true"></i>
                </div>
                <div class="dis-tab-cell-middle">
                    <p class="lt-space word-br txt-whte-sub"> RC-77 Park Avenue,<br> Belgium Hollow<br> Florida-33410.	 </p>
                </div>
              </div>
            </div>
            <div class="ft-bg-color marg-top20">
              <div class="dis-tab ">
                <div class="dis-tab-cell icon-width">
                  <i class="fa fa-phone footer-font-size" aria-hidden="true"></i>
                </div>
                <div class="dis-tab-cell-middle">
                  <p class="lt-space txt-whte-sub marg-bot5">+91 987-654-3210</p>
                  <p class="lt-space  txt-whte-sub">+91 987-654-3210</p>
                </div>
              </div>
            </div>
            <div class="ft-bg-color marg-top20 res2-bot-pad30">
              <div class="dis-tab ">
                <div class="dis-tab-cell icon-width">
                  <i class="fa fa-envelope footer-font1-size" aria-hidden="true"></i>
                </div>
                <div class="dis-tab-cell-middle">
                  <p class="lt-space word-br txt-whte-sub marg-bot5"><a >info@charity.com</a> </p>
                  <p class="lt-space  txt-whte-sub  word-br"><a >demo@charity.com</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12  col-lg-5">
            <div class="sub-bor">
            <h5 class="txt-whte">SUBCRIBE TO OUR NEWS LETTER</h5>
            <p class="pad-top10 marg-bot20 txt-whte-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies, purus ut auctor tincidunt.</p>
              <div id="mc_embed_signup">
                <div class="form-tops foot-res-cent">


                  <form class="subscribe_form " method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="" novalidate >
                    <div class="row rowsafari subscribe-col">

                      <div class="pos-rela">
                        <input type="email" name="EMAIL" placeholder="ENTER A EMAIL" class="input-box" id="mce-EMAIL"><button class="foot-position1 sub-bg" id="mc-embedded-subscribe" type="submit" value="SUBSCRIBE" ><i class="fa fa-envelope sub-icon" aria-hidden="true"></i></button>
                      </div>
                    </div>

                    <div class="center indicator-top" id="ResultMsg"><span id="SuccessMsg" class="email-success SuccessMsg"></span><span id="FailureMsg" class="email-failure FailureMsg"></span>
                    </div>
                    <div id="mce-responses">
                      <div class="response response-msg" id="mce-error-response"></div>
                      <div class="response response-msg" id="mce-success-response"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="ft-sub-color">
    <div class="container">
      <div class="text-center ">
        <p class="txt-whte lt-space">&copy; 2021 Tout droit réservé &#124; <span class="design-font">Designé Par </span> <a target="_blank"> BEHANZIN Freddy et SENOU Patricia</a></p>
      </div>
    </div>
  </div>


</div>
