<div class="page-wrapper">

  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Listes des Personnels</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <div class="d-md-flex">
          <ol class="breadcrumb ms-auto">
            <li><a class="fw-normal">Dashboard</a></li>
          </ol>

        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <ng-template #nodata>
          <h1 style="text-align: center;">Aucun Personnel disponible</h1>
        </ng-template>
        <div class="white-box" *ngIf="Users?.length>0; else nodata">
          <h3 class="box-title">Liste des personnels </h3>
          <p class="text-muted"><code>{{Users?.length}} {{Users?.length>1 ? 'utlisateurs' : 'utilisateur' }}</code></p>
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
                <tr>
                  <th class="border-top-0">#</th>
                  <th class="border-top-0">Nom</th>
                  <th class="border-top-0">Prenom</th>
                  <th class="border-top-0">Profession</th>
                  <th class="border-top-0">Email</th>
                  <th class="border-top-0">Role</th>
                  <th class="border-top-0">Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let user of Users  | reachPipe:ngAfterContentChecked(); index as i ">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.last}}</td>
                  <td>{{user.prof}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.typeCount}}</td>
                  <td><i class="fa text-success font-weight-bolder fa-edit m-2" style="cursor: pointer;"
                      (click)="Upuser(user)"></i> <i class="fa text-danger font-weight-bolder fa-trash-alt"
                      style="cursor: pointer;" (click)="delUser(user)"></i> </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <button class="btn btn-primary">Ajouter
        <i class="fa font-weight-bolder fa-edit m-2"></i>
      </button>
    </div>
  </div>

</div>
<footer class="footer text-center"> 2021 Produit par BEHANZIN Freddy & SENOU Patricia
</footer>
